<div class="text mb-4">
    <h4 class="fw-normal mb-0 fs-3 text-uppercase">{{catagoryName}}</h4>
  <span class="category-label fw-bold mt-0">CATEGORY</span>
</div>
<div class="imgs-container">
  <div class="row m-0 row-cols-lg-3 row-cols-md-2">
    @for(movie of getCatagoryMovies ; track $index){
      <div class="movie-container text-center mb-4">
        <a [routerLink]="['/details/movie', movie.id]" >
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="" class="img-fluid movie-poster">
        </a>
        <p class="movie-title pt-2 mb-0">{{movie.title | uppercase}}</p>
        <div class="stars-rating pb-4">
          @for(star of [1,2,3,4,5]; track star){
            <span class="star" [class.filled]="star <= (movie.vote_average / 2)">&#9733;</span>
          }
        </div>
      </div>
    }
  </div>
</div>