<div class="actors">
  <div class="image ">
     <img class=""
      [src]="'https://image.tmdb.org/t/p/w500' + actorDetails.profile_path"
      alt=""
    />
  </div>
  <div>
    <div class="info">
      <div class="text">
        <h2>{{ actorDetails.name  }}</h2>
        <p class="text-black-50 fw-bold">{{ actorDetails.birthday }}</p>
      </div>
      </div>
      <div class="Biography">
        <p>The Biography</p>
        <p class="text-black-50">{{ actorDetails.biography }}</p>
      </div>
      <div class="buttons">
        <div>
           <a
            [href]="'https://www.themoviedb.org/movie/' + actorDetails.id"
            target="_blank"
            ><button>IMBD <i class="bi bi-ladder"></i></button
          ></a>
        </div>
        <button (click)="goBack()" class="back"><i class="bi bi-arrow-left" ></i>Back</button>
      </div>
  </div>
  </div>

